
.userLoggedOn
{
	float: right;
	margin-top: 12px;
	margin-right: 20px;
	background-color: #FFF;
	border-radius: 5px;
	padding: 5px 5px 5px;
}

.previewLink
{
	margin-left: 20px;
	text-align: center;
	font-size: 14px;
}

.saveLink
{
	margin-left: 30px;
	text-align: center;
	font-size: 14px;
}

div.space
{
	margin-bottom: 20px;
}

div.space-top
{
	margin-top: 20px;
}

button.action
{
	margin-left: 10px;
	width: 80px;
}

a.editOptions 
{
	/*margin-right: 6px;*/
	padding-right: 6px;
	padding-left: 6px;
}

a.editOptions:hover
{
	background-color: #BBB;
	text-decoration: none;
	border-radius: 5px;
}

button.previewBuilderButton, button.saveBuilderButton
{
	width: 80px;
}

button.previewBuilderButton 
{
	margin-left: 14px;
}

a.homeMenu 
{
	margin-right: 20px;
	margin-bottom: 30px;
	width: 220px;
}

table#builders_table 
{
	font-size: 14px;
}

#usersDatagrid 
{
	color: #000000;
	margin: 10px 10px 40px;
	max-width: 1100px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
}

/* ROW STYLING SECTION */
.row-space {
	padding: 10 10 20 30;
}


/* PANEL STYLING SECTION */

.panel-space {
	padding: 10 10 10 20;
}

.bs-users, .bs-welcome, .bs-uhoh, .bs-login {
	margin-left: 0;
	margin-right: 0;
	background-color: #fff;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
}
.bs-users, .bs-welcome, .bs-uhoh, .bs-login {
	position: relative;
	padding: 45px 15px 15px;
}

.bs-users:after, .bs-welcome:after, .bs-uhoh:after, .bs-login:after {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 14px;
	font-weight: bold;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.bs-welcome:after
{
	content: "Welcome";
}

.bs-login:after
{
	content: "Hitbase Portal Login";
}


.bs-uhoh:after
{
	content: "Uh oh! Invalid URL";
}

.bs-users:after 
{
	content: "Users";
}

#editSection
{
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#editInstructiveText
{
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#editLink
{
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#fckeditor_standard
{
	border: 1px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
{
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;
}

#sections_list, #links_list {  margin: 0; padding: 0;   }
#sections_list li, #links_list li {
    font-size: 13px;
    height: 26px;
    margin: 0 3px 3px;
    padding: 0.4em 0.4em 0.4em 1.5em;
    list-style-type: none;
}

#sections_list li span, #links_list li span { position: absolute; margin-left: -1.3em; }

#sections_list li span.sectionTitle, #links_list li span.linkTitle 
{
	position: absolute;
	margin-left: 10px;
}

.edit-add
{
	width: 150px;
}

#fileUploaded
{
	font-size: 13px;
	color: #3383BB;
	font-weight: bold;
	text-align: center;
}
div#fileUploaded img 
{
	max-width: 600px;
}


a#cssLink, a.helpLink {
    border-bottom: 1px dashed;
    text-decoration: none;
}

.css_textarea 
{
	padding-left: 15px;
	padding-right: 15px;
}

input.uploadImage
{
	margin-top: 5px;
}

#users_datagrid {
	max-width: 1000px;
  	padding-top: 40px;
}

table#users_table {
	font-size: 12px;
}

#users_action {
	text-align: center;
}

.instructive-text-home, .instructive-text-edit
{
	color: #555;
	padding-left: 20px;
	padding-right: 20px;
}

.instructive-text-home
{
	padding-bottom: 20px;
}

.instructive-text-edit
{
	padding-top: 20px;
}

.helpLinkHome
{
	float:right; 
	margin-right: 20px;
	margin-top: -34px
}

.helpLinkEdit
{
	float:right; 
	margin-right: 20px;
	margin-top: -10px
}

.bannerHelp
{
	margin-top: 10px;
}