/* Reset CSS styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300; }

h1 {
    font-size: 36px; }

h2 {
    font-size: 30px; }

h3 {
    font-size: 24px; }

h4 {
    font-size: 18px; }

h5 {
    font-size: 14px; }

h6 {
    font-size: 12px; }

/* Package-preview styles */
body {
    width: 100%;
    color:#012D6A;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}

.bpay-block{
    height: 160px;
    width: 334px;
    border: #012D6A 3px solid;
    padding: 10px;
    margin: auto;
    display: table;
}

.logo {
    display: inline-block;
    width: 45px;
    float: left;
    margin-right: 10px;
}
.logo img {
    width: 100%
}

.code-input {
    vertical-align: middle;
    display: table;
    border: #012D6A 1px solid;
    width: 250px;
    height: 47px;
    float: left;
    padding: 10px 5px;
    font-weight: 800 !important;
    font-size: 1em;
    line-height: 1.4;
}

.code-input input {
    vertical-align: middle;
    font-weight: 800;
    color: #012D6A;
    border: none;
    font-size: 0.9em;
}

.qr-code{
    float: right;
    width: 70px;
}

.qr-code img {
    width: 100%;
}

.info {
    margin-top: 80px;
    font-size: 0.8em;
}

.info a {
    text-decoration: none;
    color:#012D6A;
}