.adminLink 
{
	float: right;
	margin-top: -20px;
	margin-right: 10px;
	font-size: 12px;
	font-weight: bold;

}

.adminLink a
{
	text-decoration:none;
	color: red;
}

.adminLink a:hover
{ 
	background-color:#CCC; 
}