/* CSS Document */

* {
	margin:0;
	padding:0;
}

body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:80%;
	color:#494a4b;	
	height:100%;
	background-color:#f6f4f0;
}

.alt {
	position:absolute;
	margin-left:-300em;
}

#help {
	width:100%;
	background:#565553 url(../images/instructions.gif) 50% -1px no-repeat;
	position:absolute;
	top:0;
	z-index:10;
	display:none;
	cursor:pointer;
}

h2 {
	font-size:1em;
	color: #0068B9;
}

p, ul, ol {
	margin:1em 0;
	
}

#header {
	width:100%;
	height:50px;
	display:block;
	position:relative;
}

#site {
	width:960px;
	margin:0 auto 15px;
	position:relative;
}

#column {
	width:256px;
	float:left;
	margin:0 0 0 15px;
	padding-bottom:20px;
}

#column h2 {
	margin:10px 0 10px 15px;
}

#column .section {
	border:1px solid #b3bcc7;
	background-color:#fff;
	margin-bottom:10px;
}


#column li {
	list-style-type:none;
	margin:0 15px;
	width:205px;
	height:40px;
	background:url(../images/column-link-bg.jpg) 0 100% no-repeat;
}

#column a {
	width:100%;
	display:block;
	text-decoration:none;
	line-height:39px;
	outline:none;
	color:#313030;
	padding-left:10px;
	position:relative;
	z-index:1;
}

#column a span {
	position:absolute;
	top:10px;
	right:10px;
	width:20px;
	height:20px;
	display:block;
	z-index:2;
}

span.started { background:url(../images/started.gif) 50% 50% no-repeat; }
span.complete { background:url(../images/complete.gif) 50% 50% no-repeat; }
span.over { background:url(../images/over.gif) 50% 50% no-repeat; }

#column a.checklist, #column a.download, #column a.link {
	background-position:3px 50%;
	background-repeat:no-repeat;
	padding-left:20px;
}

#column a.checklist { background-image:url(../images/checklist-icon.gif); }
#column a.download { background-image:url(../images/download-icon.gif); }
#column a.link { background-image:url(../images/links-icon.gif); padding-left:25px; }

#column .section ul li:last { background:none; }

#column a:hover, #column a:focus { background-color:#fbf9c9; }

#content {
	margin-left:305px;
	width:640px;
	position:relative;
}

#content h2 {
	padding-left:10px;
	width:630px;
	line-height:30px;
	border-bottom:1px solid #b3bcc7;
}

#content h3 {
	text-align:center;
	font-size:1em;
	margin:1em 0;
}

#sectionText {
	background-color: #FFF;
	border: 1px solid #b5bdc8;
	margin-top: 1em;
}

a#instructions { 
	width:28px;
	height:28px;
	display:block;
	background:url(../images/info-icon.gif) 0 0 no-repeat;
	text-indent:-300em;
	position:absolute;
	right:0;
	top:0;
}

a#tipLink {
	width:28px;
	height:28px;
	display:block;
	text-indent:-300em;
	position:absolute;
	right:7px;
	top:85px;
	background-image:url(../images/tip-icon.gif);
}

#example {
	width:535px;
	background-color: #fbf9c9;
	margin:0 20px;
	padding:5px 20px 10px;
}

#response {
	width:572px;
	margin-left:21px;
	border:1px solid #b5bdc8;
}

#userText {
	position: relative;
	width:535px;
	padding: 0 20px 10px;
	font-style:italic;
}

#userText ul, #userText ol {
	margin-left:30px;
	
}

#controls {
	width:574px;
	height:60px;
	display:block;
	margin-left:20px;
	position:relative;
	margin-top:5px;
}

#controls span {
	color: #f00;
	position:absolute;
	left:0;
	top:0;
	line-height:26px;
	font-size:80%;
}

#controls input {
	position:absolute;
	right:0;
	top:0; 
}

iframe { border:none; }

input#edit, input#save { 
	font-weight:bold; 
	color:#fff;
	background-color:#546e8f;
	padding:5px 10px;
	border:none;
	cursor:pointer;
}

#controls input:hover, #controls input:focus {
	background-color:#6a86ab;
}

.window {
  position:absolute;
  z-index:9999;
}
 
#tip {
  background:#FFF;
  border: 1px solid #b5bdc8;
  width:320px;
	padding:20px;
	display:none;
}

#tip { top:82px; right:45px; }
























/*

.menu .headerbar{
font: bold 13px Verdana;
color: white;
background: #606060 url(media/arrowstop.gif) no-repeat 8px 6px; 
margin-bottom: 0; 
text-transform: uppercase;
padding: 7px 0 7px 31px;
}

.menu ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 0;
}

.menu ul li{
padding-bottom: 2px;
}

.menu ul li a{
font: normal 12px Arial;
color: black;
background: #E9E9E9;
display: block;
padding: 5px 0;
line-height: 17px;
padding-left: 8px;
text-decoration: none;
}

.menu ul li a:visited{
color: black;
}

.menu ul li a:hover{ 
color: white;
background: black;
}
.status {
	position: relative;
	margin-left: 14px;	
}

.menu li:first-child {	border-top:none; }
.menu li:last-child {	border-bottom:none; }

 

#sectionHeading
{
	background:#f5f4f0;
}

#sectionHeading a
{
	float: right;
	padding-top:12px;
	padding-right:24px;
}



#sectionText li {
	padding-left: 4px;
	list-style-position:inside;
}



#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}
   



#header p, #header ul {
	margin:auto;
	position:relative;
}

#header p {
	width:815px;
	top:-30px;
	line-height:30px;
	padding-left:30px;
	margin-left:600px;
	background:url(../images/padlock-icon.gif) 0 50% no-repeat;
	font-size:85%;
}

#header p span {
	color:#d7150b;
	text-transform:uppercase;
}

#header ul { 
	top:50px; 	
	width:845px;
}

#header li {
	float:right;
	list-style-type:none;

}

#header a {
	width:65px;
	height:80px;
	display:block;
	font-size:0;
}

#footer p {
	width:824px;
	text-align:right;
	margin:auto;
	line-height:40px; 
	padding-right:30px;
	font-size:90%;
}

#homeNav {
	width:100%;
	background:url(../images/homeNav-bg.gif) 100% 0 repeat-y;
	height:172px;
}

#homeNav h2 {
	font-size:1em;
	text-transform:uppercase;
	padding-top:25px;
}

#homeNav ul {
	width:195px;
	height:158px;
	float:left;
	padding:7px 21px;
	background:url(../images/homeNav-ul-bg.gif) 0 0 no-repeat;
	margin-right:30px;
}

#homeNav p {
	margin:1em 45px 1em 0;
	font-size:90%;
	line-height:1.3em;
	
}

#homeNav li {
	line-height:35px;
	border-top:1px solid #7a0a0b;
	border-bottom:1px solid #ff444b;
	list-style-type:none;
	padding-left:13px;
}

.category, .resource {
	height:86px;
	display:block;
	position:relative;
	background:url(../images/category-bg.gif) 0 0 no-repeat;
	margin-top:11px;
}

.category h2 {
	font-size:1.6em;
	color:#bb5557;
	text-transform:uppercase;
	line-height:86px;
	position:relative;
	left:35px;
}

.category p {
	position:absolute;
	left:268px;
	top:20px;
	font-size:90%;
	width:350px;
	line-height:1.3em;
}

.category p.alert { 
	top:32px;
	text-transform:uppercase;
	font-weight:600;
}

.progress {
	width:350px;
	height:6px;
	display:block;
	background-image:url(../images/progress-bar.gif);
	background-position:100% 100%;
	background-repeat:no-repeat;
	position:absolute;
	left:268px;
	top:60px;
	border-left:1px solid #858585;
	border-right:1px solid #858585;
}



a.previous {
	width:79px;
	height:26px;
	display:block;
	background:url(../images/previous-btn.gif) 0 0 no-repeat;
	text-indent:-300em;
	position:absolute;
	left:0;
}

a.next {
	width:79px;
	height:26px;
	display:block;
	background:url(../images/next-btn.gif) 0 0 no-repeat;
	text-indent:-300em;
	position:absolute;
	right:0;
}

h2#profile { 	
	background:url(../images/h2-bg.gif) 0 0 no-repeat;
	line-height:57px;
	padding-left:25px;
	color:#545252;
	font-size:2.5em;
	margin-bottom:0.75em;
}

#content label {
	margin-right:10px;
	text-transform:uppercase;
	
}

#content select {
	clear:right;
	margin:0 5px;
	padding:5px;
}

.question {
	height:100px;
	display:block;
	position:relative;
	background:url(../images/question-bg.gif) 0 0 no-repeat;
	margin-top:11px;
}

#questionIntro h2 {
	background:url(../images/h2-bg.gif) 0 0 no-repeat;
	line-height:57px;
	padding-left:25px;
	color:#545252;
	font-size:2.5em;
	margin-bottom:0.75em;
}	

#questionIntro p {
	margin:25px;
	line-height:1.4em;
}

.question {
	padding-top:10px;
}

.question p {
	margin:0 28px;
}

.numbers {
	width:776px;
	height:26px;
	display:block;
	background:url(../images/slider-numbers.gif) 50% 0 no-repeat;
	margin-left:25px;
}

#Ethics a.expand, #Statistics a.expand {
	width:100%;
	height:41px;
	line-height:41px;
	padding-left:74px;
	background:url(../images/resource-bg.jpg) 0 100% no-repeat;
	display:block;
}
 */
