@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

body {
	background: none;
	font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "PT Sans";
	text-transform: uppercase;
	font-weight: bold;
}

h2, .h2 {
	margin: 14px 0;
}

h3, .h3 {
	font-size: 17px;
}

.navbar-default .navbar-brand,
.breadcrumb > li {
	font-family: "PT Sans";
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}

.breadcrumb > li {
	font-size: 20px;
}

form.main label.error {
	display: none;
	font-size: 14px;
	color: #ff0000;
	font-weight: bold;
	margin-left: 5px;
}

div.notice {

	font-size: 16px;
	color: #ff0000;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 30px;

}

#topmenu {
	margin-left: -30px;
}

#topmenu li a.form {
/*color: #2A5651;*/
}

#topmenu li a.home.selected, #topmenu li a.home:hover {
color: #fff;
text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
background: #3ebaaf;
background: -moz-linear-gradient(top, #3ebaaf 0%, #2d8e85 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ebaaf ), color-stop(100%,#2d8e85));
background: -webkit-linear-gradient(top, #3ebaaf 0%,#2d8e85 100%);
background: -o-linear-gradient(top, #3ebaaf 0%,#2d8e85 100%);
background: -ms-linear-gradient(top, #3ebaaf 0%,#2d8e85 100%);
background: linear-gradient(to bottom, #3ebaaf 0%,#2d8e85 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ebaaf', endColorstr='#2d8e85',GradientType=0 );
}


#topmenu li a.selected, #topmenu li a:hover {
background: #cecece;
background: -moz-linear-gradient(top, #cecece 0%, #e5e5e5 49%, #cecece 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(49%,#e5e5e5), color-stop(100%,#cecece));
background: -webkit-linear-gradient(top, #cecece 0%,#e5e5e5 49%,#cecece 100%);
background: -o-linear-gradient(top, #cecece 0%,#e5e5e5 49%,#cecece 100%);
background: -ms-linear-gradient(top, #cecece 0%,#e5e5e5 49%,#cecece 100%);
background: linear-gradient(to bottom, #cecece 0%,#e5e5e5 49%,#cecece 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#cecece',GradientType=0 );
text-decoration: none;
}

ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

#topmenu li a {
	font-family: Arial;
	text-decoration: none;
	padding: 10px 20px 10px 20px;
	background: #dfdee0;
	background: -moz-linear-gradient(top, #dfdee0 0%, #efefef 49%, #dfdee0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdee0), color-stop(49%,#efefef), color-stop(100%,#dfdee0));
	background: -webkit-linear-gradient(top, #dfdee0 0%,#efefef 49%,#dfdee0 100%);
	background: -o-linear-gradient(top, #dfdee0 0%,#efefef 49%,#dfdee0 100%);
	background: -ms-linear-gradient(top, #dfdee0 0%,#efefef 49%,#dfdee0 100%);
	background: linear-gradient(to bottom, #dfdee0 0%,#efefef 49%,#dfdee0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdee0', endColorstr='#dfdee0',GradientType=0 );
	font-size: 13px;
}

#topmenu li {
	display: inline;
}

#topmenu li {

	display: inline-block!important;
}

.navbar {
	margin-bottom: 0px!important;
	background: none;
	border: none;
}

.navbar a.navbar-brand,
.navbar a.navbar-brand:hover,
.navbar a.navbar-brand:focus {
	color: #333333;
	cursor: default;
}

.marginTop {
	margin-top: 10px;
}

.info-list li 
{
	list-style-position:inside;
	padding-left: 50px;
}
.userLoggedOn
{
	float: right;
	margin-top: 12px;
	margin-right: 20px;
	background-color: #FFF;
	border-radius: 5px;
	padding: 5px 5px 5px;
}

.previewLink
{
	margin-left: 20px;
	text-align: center;
	font-size: 14px;
}

.saveLink
{
	margin-left: 30px;
	text-align: center;
	font-size: 14px;
}

div.space
{
	margin-bottom: 20px;
}

div.space-top
{
	margin-top: 20px;
}

button.action
{
	margin-left: 10px;
	width: 80px;
}

a.editOptions 
{
	/*margin-right: 6px;*/
	padding-right: 6px;
	padding-left: 6px;
}

a.editOptions:hover
{
	background-color: #BBB;
	text-decoration: none;
	border-radius: 5px;
}

button.previewBuilderButton, button.saveBuilderButton
{
	width: 80px;
}

button.previewBuilderButton 
{
	margin-left: 14px;
}

a.homeMenu 
{
	margin-right: 20px;
	margin-bottom: 30px;
	width: 220px;
}

table#builders_table 
{
	font-size: 14px;
}

#usersDatagrid 
{
	color: #000000;
	margin: 10px 10px 40px;
	max-width: 1100px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
}

/* ROW STYLING SECTION */
.row-space {
	padding: 10 10 20 30;
}

/* PANEL STYLING SECTION */

.form-signin {
max-width: 330px;
padding: 15px;
margin: 0 auto;
}

.panel-space {
	padding: 10 10 10 20;
}

.bs-users, .bs-uhoh, .bs-login, .bs-package, .bs-personal-details, .bs-optional-tours, .bs-additional-information {
	margin-left: 20;
	margin-right: 0;
	background: none;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
}
.bs-users .bs-uhoh, .bs-login, .bs-package, .bs-personal-details, .bs-optional-tours, .bs-additional-information{
	position: relative;
	padding: 45px 15px 15px;
	margin-left: 20px;
}

.bs-users:after, .bs-uhoh:after, .bs-login:after, .bs-package:after, .bs-personal-details:after, .bs-optional-tours:after, .bs-additional-information:after {
	position: absolute;
	top: 15px;
	left: 0;
	font-size: 14px;
	font-weight: bold;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.margins {
	padding: 20px;
}

.bs-package:after
{
	content: "Package";
}

.bs-personal-details:after
{
	content: "Personal Details";
}
.bs-guests:after
{
	content: "Guest Details";
}
.bs-optional-tours:after
{
	content: "Optional Tours";
}
.bs-additional-information:after
{
	content: "Additional Information";
}
.bs-payment-method:after
{
	content: "Payment Method";
}
.bs-login:after
{
	content: "AOM Admin Portal Login";
}


.bs-uhoh:after
{
	content: "Uh oh! Invalid URL";
}

.bs-users:after 
{
	content: "Users";
}

#editSection
{
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#editInstructiveText
{
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#editLink
{
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#fckeditor_standard
{
	border: 1px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
{
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;
}

#sections_list, #links_list {  margin: 0; padding: 0;   }
#sections_list li, #links_list li {
    font-size: 13px;
    height: 26px;
    margin: 0 3px 3px;
    padding: 0.4em 0.4em 0.4em 1.5em;
    list-style-type: none;
}

#sections_list li span, #links_list li span { position: absolute; margin-left: -1.3em; }

#sections_list li span.sectionTitle, #links_list li span.linkTitle 
{
	position: absolute;
	margin-left: 10px;
}

.edit-add
{
	width: 150px;
}

#fileUploaded
{
	font-size: 13px;
	color: #3383BB;
	font-weight: bold;
	text-align: center;
}
div#fileUploaded img 
{
	max-width: 600px;
}


a#cssLink, a.helpLink {
    border-bottom: 1px dashed;
    text-decoration: none;
}

.css_textarea 
{
	padding-left: 15px;
	padding-right: 15px;
}

input.uploadImage
{
	margin-top: 5px;
}

#users_datagrid {
	max-width: 1000px;
  	padding-top: 40px;
}

table#users_table {
	font-size: 12px;
}

#users_action {
	text-align: center;
}

.instructive-text-home, .instructive-text-edit
{
	color: #555;
	padding-left: 20px;
	padding-right: 20px;
}

.instructive-text-home
{
	padding-bottom: 20px;
}

.instructive-text-edit
{
	padding-top: 20px;
}

.helpLinkHome
{
	float:right; 
	margin-right: 20px;
	margin-top: -34px
}

.helpLinkEdit
{
	float:right; 
	margin-right: 20px;
	margin-top: -10px
}

.bannerHelp
{
	margin-top: 10px;
}

/* Styles Update 5x5  10/10/2014 */
.external-form {
	width: 820px;
	max-width: 100%;
}

.field-label {
	font-weight: bold;
}

.field-label .sub-text {
	display: block;
	margin: 4px 0;
	font-weight: normal;
	font-size: 12px;
}

.single-value {
	width: 300px;
	max-width: 100%;
	padding: 0 5px;
	color: #f38a51;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
}

.external-form .row {
	margin-bottom: 10px;
}

.external-form .small-space {
	margin-bottom: 10px;
}

.external-form .space {
	margin-bottom: 20px;
}

.external-form .more-space {
	margin-bottom: 30px;
}

.external-form input[type="text"],
.external-form select,
.external-form textarea {
	padding: 6px 10px;
	width: 320px;
	max-width: 100%;
	background: #fbdbc9;
	color: #f38a51;
	border: none;
}

.external-form .large-input {
	width: 512px;
}
 
.external-form .input-el-inline input[type="radio"] {
	margin: 4px 7px 0 0;
}

.external-form .input-el-inline label {
	margin-right: 12px;
}

.external-form input[type="button"],
.external-form input[type="submit"] {
	margin: 10px 10px;
	border: none;
	background: #f38a51;
	padding: 6px 30px;
	color: #fff;
	font-family: "PT Sans";
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	outline: none;
}

.external-form input[type="button"]:hover,
.external-form input[type="submit"]:hover {
	color: #fff;
	background: #f5a173;
}

p.space {
	margin-bottom: 20px;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

#addressWrapper select,
#addressWrapper input[type="text"] {
	margin-bottom: 10px;
}

.inline-radio-buttons-styling label {
	margin-right: 15px;
}

.inline-radio-buttons-styling label.error {
	display: inline-block;
	position: absolute;
	left: 10px;
	top: 0;
	margin-top: -10px;
}

.panel {
	background: none;
	border: none;
	box-shadow: none;
}

.breadcrumb {
	background: #e7d3c6;
}

.note-text {
	color: #E62C2C;
	margin-bottom: 10px;
	display: block;
	font-weight: bold;
}

::-webkit-input-placeholder { color: #f38a51 }
:-moz-placeholder { color: #f38a51 }
::-moz-placeholder { color: #f38a51 }
:-ms-input-placeholder { color: #f38a51 }

.bump {
	font-weight: bold;
	font-size: 12px;
	margin: 7px;
	color: #f38a51;
}

/* Responsive Styles */
@media only screen and ( max-width: 1023px ) {
	.external-form .row {
		margin-bottom: 20px;
	}

	.single-value {
		text-align: left;
		padding-left: 10px;
	}
	
	.field-label .sub-text {
		margin: 4px 0 10px;
	}
	
	.buttons-container .col-sm-8,
	.buttons-container .col-sm-4 {
		max-width: 50%;
	}
	
	.buttons-container.buttons-3 .col-sm-4 {
		max-width: 33.33%;
	}
	
	.buttons-container .btn-left {
		text-align: left;
	}
	
	.buttons-container .btn-mid {
		text-align: center;
	}
	
	.buttons-container .btn-right {
		text-align: right;
	}

}

@media only screen and (max-width: 767px) {	
	.buttons-container.buttons-3 .btn-left,
	.buttons-container.buttons-3 .btn-mid,
	.buttons-container.buttons-3 .btn-right {
		max-width: 33%;
		width: 170px;
	}
	
	.buttons-container.buttons-3 input[type="button"],
	.buttons-container.buttons-3 input[type="submit"] {
		margin: 0;
		padding: 6px;
		width: 115px;
		text-align: center;
	}
	
	.buttons-container.buttons-3 .glyphicon {
		display: none;
	}
}

@media only screen and (max-width: 539px) {
	.bs-users .bs-uhoh,
	.bs-login, .bs-package,
	.bs-personal-details,
	.bs-optional-tours,
	.bs-additional-information {
		margin-left: 0;
	}
	
	.buttons-container .glyphicon {
		display: none;
	}
	
	.buttons-container .col-sm-8,
	.buttons-container .col-sm-4,
	.buttons-container.buttons-3 .btn-left,
	.buttons-container.buttons-3 .btn-mid,
	.buttons-container.buttons-3 .btn-right {
		max-width: 100%;
		width: 100%;
		margin-bottom: 15px;
	}
	
	.buttons-container input[type="button"],
	.buttons-container input[type="submit"],
	.buttons-container.buttons-3 input[type="button"],
	.buttons-container.buttons-3 input[type="submit"] {
		margin: 0;
		padding: 6px;
		width: 100%;
	}
	
	.buttons-container .glyphicon {
		display: none;
	}
}