/* CSS Document */

#login {

width: 435px;
height: 300px;
margin: 0 auto;
border: 2px solid #CCC;
margin-top: 20px;
padding: 5px;

}

#login h3 {

text-align: center;
font-family: Verdana, Arial, Helvetica, sans-serif;
letter-spacing: -1px;
font-size: 18px;

}

#formholder {

text-align: center;
margin: 0 auto;
width: 300px;
font-family: Verdana, Arial;
font-size: 12px;
}

#help {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #666;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}