/* Reset CSS styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Open Sans", sans-serif;
  font-weight: 300;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

/* Client registration styles */

.wrapper {
	width: 800px;
	margin: 0 auto;
}

.header{
	display: inline;
	text-align: center;
	margin: 20px 20px 0px 0px;
}

hr {
	border: #000000 1px solid;
	margin: 10px 0px;
}

.content {
	padding-top: 100px;
}

.registration-form {
	width: 400px;
	margin: 0 auto;
}

.btn.social {
	display: block;
	width:100%;
	min-height: 20px;
	padding: 10px;
	margin: 0px 0px 10px 0px;
	color: #FFFFFF;
	border-radius: 0;
}

.social-fb {
	background: #3C579E url("../img/social-facebook.png") no-repeat 0 8px;
	background-size: 32px 32px;
}

.social-gp {
	background: #D93725 url("../img/social_googleplus.png") no-repeat 5px 5px;
	background-size: 32px 32px;
}

.input-group {
	margin: 0px 0px 10px 0px;
	width: 100%;
	border-left: 3px solid #44b6ae;
}

.form-controll {
	width: 100%;
	height: 38px;
	padding: 9px 12px 6px 12px;
	border: 1px solid #c2cad8;
	border-left: none;
}

.btn.default {
	float: left;	
    color: #666;
    background-color: #dddddd;
    border-color: #dddddd;
    border-radius: 0;
    font-size: 1em;
}

.btn.green {
	float:right;	
    color: #FFFFFF;
    background-color: #44b6ae;
    border-color: #44b6ae;
    border-radius: 0;
    font-size: 1em;
}